{% extends 'base.html' %}

{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

{% if zipcode %}
    {{ zipcode }}
{% endif %}

{% if api %}
    {% if api == "Error" %}
        There wasan error, please try again ... 
    {% else %}
        <div class="jumbotron {{ category_color }}">
        <h1 class="display-4">{{ api.0.Category.Name }}</h1>
        <p class="lead">curent {{ api.0.ReportingArea }} Air Quality : {{ api.0.AQI }}</p>
        
        <p>{{ category_description }}</p>

        </div>
    {% endif %}
{% endif %}

</body>
</html>

{% endblock %}